################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CurrencyRatesApi/v17
/CurrencyRates.Domain/obj
/CurrencyRates.Infraestructure/obj
/CurrencyRatesApi/.vs/CurrencyRatesApi
/CurrencyRatesApi/bin/Debug/net6.0
/CurrencyRatesApi/obj
/.vs/CurrencyRatesApi
